@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Mono', monospace;
}

body {
    background-color: #1e201f;
}

.header-content {
    background-color: #111;
    padding: 15px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: honeydew;
}

    a:hover {
        color: honeydew;
    }

.title {
    font-size: 20px;
}

section {
    height: calc(100vh - 48px);
    width: 100vw;
}

.contato, .login {
    display: flex;
    color: honeydew;
    /*align-items: center;*/
    flex-direction: column;
    justify-content: center;
}

.titulo-contato, .titulo-login {
    padding-bottom: 25px;
}

.report {
    color: honeydew;
}

.contato-title {
    text-align: center;
    align-items: center;
}

.conteudo-contato, .conteudo-login {
    border: solid 0.5px rgb(0 0 0 / 25%);
    padding: 20px;
    align-items: stretch;
    background: #111;
}

.mensagem, .nome, .email, .nome-acesso, .senha {
    background: none;
    color: honeydew;
    border: solid 0.5px;
}

.row-content-footer {
    padding: 60px 0 60px 0;
}

.dev-footer {
    background-color: #1e201f;
    padding: 15px;
    text-align: center;
    color: honeydew;
    font-size: 12px;
}

footer {
    background-color: #111;
    color: honeydew;
}
